.banner {
  color: white;
  text-align: left;
  min-height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 15%;
}

.banner h2 {
  font-size: 45px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

/*CSS Mobile Adaptations -Banner 1 - Banner 2 at the end of banner 2 */

@media(max-width:767px){
  .banner h2{
    font-size: 30px;
  }
}

.banner_2 {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_2 h2 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner_2 p {
  font-size: 14px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner_2 h3 {
  font-size: 30px;
  color: rgba(255, 255, 255, 1.0);
  margin-bottom: 20px;
}

#big-icon {
  font-size: 100px;
}
