#footer {
  color: white;
  background-color: #333333;
  padding: 20px;
  color: grey;
}

.footer-mantendo-limpando-item {
  color: grey !important;
  text-decoration: none !important;
}

.footer-mantendo-limpando-item:hover {
  text-decoration: none !important;
}


