/* CSS in here */
@import 'nav-bar.css';
@import 'footer.css';
@import 'banners.css';
@import 'contacts.css';

/* blue: #0f70b7 // rgba(15, 112, 183, 1)*/
/* orange: #f29200 // rgba(242, 146, 0, 1) */
/* light-blue: #bbdef0 // rgba(187, 222, 240, 1) */
/* gray: #757575 */
/* dark-gray: #383d3b // rgba(56, 61, 59, 1) */

body {
  font-family: 'Ubuntu Mono', monospace !important;
}

.slightly-padded {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.very-slightly-padded {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.action-button {
  background-color: rgba(15, 112, 183, 0.7);
  border: 2px solid #0f70b7;
  padding: 20px 30px;
  border-radius: 30px;
  color: white;
  transition: all 0.2s ease;
}

.action-button:hover {
  background-color: #0f70b7;
  color: white;
  transition: all 0.2s ease;
}
